div {
  background-color: indigo;
  border: blue 1px solid;
}

section {
  display: grid;
  grid-template-columns: 1fr 500px 2fr 1fr;
  grid-template-rows: 200px 1fr 200px;
  height: 100vh;
  grid-gap: 10px 30px;
}