@media only screen and (min-width: 768px){

body {
  width: 960px;
  text-align: center;
}

#content-wrapper {
   display: block;
}

ul > * {
  position: relative;
  box-sizing: border-box;
  display: block;
  max-width: 960px;
  overflow: hidden;
  }

li:nth-child(1){
  line-height: 100px;
  height: 100px;
  width: 960px;
  float: left;
 }

li:nth-child(2){
  line-height: 600px;
  height: 600px;
  width: 200px;
  float: left;
 }

li:nth-child(3){
  line-height: 200px;
  height: 200px;
  width: 380px;
  float: left;
 }

li:nth-child(4){
  line-height: 200px;
  height: 200px;
  width: 380px;
  float: right;
 }

li:nth-child(5){
  line-height: 250px;
  height: 250px;
  width: 190px;
  float: left;
 }

li:nth-child(6){
  line-height: 250px;
  height: 250px;
  width: 190px;
  float: left;
 }

li:nth-child(7){
  line-height: 250px;
  height: 250px;
  width: 190px;
  float: right;
 }

li:nth-child(8){
  line-height: 250px;
  height: 250px;
  width: 190px;
  float: right;
 }

li:nth-child(9){
  line-height: 150px;
  height: 150px;
  width: 760px;
 float: left;
 }
}

@media only screen and (max-width: 767px){

  body {
    width: 767px;
    text-align: center;
  }

  ul {
    display: block;
    box-sizing: border-box;
    position: relative;
    max-width: 767px;
    margin: auto;
    overflow: hidden;
    }
  
  li:nth-child(1){
   height: 75px;
   width: 480px;
   float: left;
  }

  li:nth-child(2){
    height: 150px;
    width: 480px;
    float: left;
   }
  
  li:nth-child(3){
    height: 150px;
    width: 480px;
    float: left;
   }
  
  li:nth-child(4){
    height: 125px;
    width: 480px;
    float: left;
   }
  
  li:nth-child(5){
    height: 250px;
    width: 50%;
    float: left;
   }
  
  li:nth-child(6){
    height: 250px;
    width: 50%;
    float: left;
   }
  
  li:nth-child(7){
    height: 250px;
    width: 50%;
    float: left;
   }
  
  li:nth-child(8){
    height: 250px;
    width: 50%;
    float: left;
   }
  
  li:nth-child(9){
    height: 80px;
    width: 480px;
    float: left;
   }
  
  }